@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #120d24;
  color: #fff;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Thickness of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* No background color for the track */
  padding: 8px 1px; /* Padding on the top and bottom */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #382d63; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #241f4b; /* Color of the scrollbar handle on hover */
}
